table td,
table th {
  border: 1px solid #333;
}

.rea-logo {
  width: 100%;
  margin-bottom: 15px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #c0bbae;
}
::-webkit-scrollbar-thumb {
  background: #00528c;
  padding: 0;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
}

.rea-h5 {
  color: #fff !important;
  font-weight: bold;
  font-size: 1.2rem;
}

.ppn__menu-item {
  color: #c5c5c5;
}

.inner {
  overflow: auto;
}
